* {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}
    
body {
  /* background-image: url('/assets/images/notebook.png');
  background-repeat: repeat-y; */
  height: 100vh;
  font-family: "Quicksand", Arial, sans-serif;
  // font-family: 'Open Sans', 'sans-serif';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  margin: 40px;
  background-color:rgba(187, 187, 187, 0.4);
  color: rgba(0, 0, 0, 1); 
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(255, 195, 0);
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0; 
}

h1, p {
    margin: 0 0 1em 0;
}
  
.grid-container {
  background-color: rgba(255, 195, 0, 0.3);
  width: 50%;
  margin: 0 20px;
  display: grid;
  grid-gap: 4px;
}
  
    .grid-container > * {
        background-color: #444;
        border-radius: 5px;
        padding: 20px;
        font-size: 1.5em;
        /* needed for the floated layout*/
        margin-bottom: 10px;
    }

    .grid-container {
        margin: 0 auto;
        grid-template-columns: 15.5fr 50fr;
    }

    .sidebar{
      background-color: #2C2C2C;
      color: #fff;
      float: left;
      align-items: stretch;
      border-radius: 4px;
      padding-top: 2%;
      padding-left: 1.5em;
      padding-right: 1.5em;
    }
    
    .content {
      background-color: #bbb;
      color: #fff;
      float: right;
      // align-items: stretch;
      border-radius: 4px;
      padding-left: 1em;
      padding-right: 1em;
      // overflow: auto;
    }
    
    .header, .footer {
        grid-column: 1 / -1;
        /* for floated layout */
        clear: both;
    }

  /* Set the widths used on floated items back to auto
      and remove the bottom margin bc grids have gaps. */
  @supports (display: grid) {
      .wrapper > * {
        width: auto;
        margin: 0;
      }
    }    

  
  // Inside the header
  #letterhead{
    text-align: right;
    font-weight: 700;
    font-size: 1.3vw;
    color: rgb(255, 195, 0);
    text-transform: uppercase;
    margin-bottom: 3em;
    margin-top: 4%;
    display: block;
    // width: 100%; 
    padding: 2%
  }

  .initial {
    font-size: 2vw;
  }

  .intro {
    text-align: right;
    font-weight: 600;
    font-size: 1vw;
    color: rgba(255, 210, 10, 0.5);
    text-transform: uppercase;
    margin-bottom: 0.5em;
    display: block; 
  }

  .sidebar > .sidebar-footer {
    font-size: 1vw;
    text-align: center;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.3);
    padding: 0 10px;
  }

  #copyright {
    text-align: center;
  }

  #tiny {
    font-weight: 600;
    font-size: 0.7vw;
    color: rgba(255, 210, 10, 0.5);
  }
  
  button {
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1vw;
    text-align: center;
    font-family: inherit;
    background-color:  rgb(248, 207, 70);
    border: 0;
    margin: 1%;
    padding: 2px 2px;
    width: 68%;
  }

  a {
    color: rgb(255, 195, 0);
    font-size: 1vw;
    font-family: inherit;
  }

  .panel-heading-color {
    color: rgba(43, 35, 2, 0.5);
    font-size: 2vw;
    font-family: inherit;
  }

  #panel-heading-change-password {
    color: rgba(255, 210, 10, 0.5);
  }
  
  .create-update-see-delete {
    margin-top: 8%;
  }
  
  input[type=text], input[type=password], input[type=email]{
    border: 1px solid #FFC300;
    border-radius: 6px;
    font-size: 1vw;
    margin: 1px;
    padding: 3px;
    text-align: left;
    width: 70%
  }
  
  #password-input {
    font-size: 0.5vw;
    margin: 10px 0 1px 0;
    text-align: center;
    width: 120%;
  }

  #see-all-doctors-form > button {
    background-color:  rgb(248, 230, 170);
    color: rgba(43, 35, 2, 0.5);
    font-size: 1vw;
    margin: 0.5px 0.5px 1px 1px;
    padding: 1px 1px 2px 1px;
    width: 100%;
  }

  #see-all-sessions-form > button {
    background-color:  rgb(248, 230, 170);
    color: rgba(43, 35, 2, 0.5);
    font-size: 1vw;
    margin: 0.5px 0.5px 100px 1px;
    padding: 1px;
    width: 100%;
  }

  #change-password-form > button {
    background-color:  rgb(248, 230, 170);
    color: rgba(43, 35, 2, 0.5);
    font-size: 1vw;
    margin: 0.5px 0.5px 1px 1px;
    padding: 1px 1px 2px 1px;
    width: 100%;
  }

  #sign-out-form > button {
    background-color:  rgb(248, 230, 170);
    color: rgba(43, 35, 2, 0.5);
    font-size: 1vw;
    margin: 0.5px 0.5px 1px 1px;
    padding: 1px 1px 2px 1px;
    width: 100%;
  }
  
  #create-one-session-form > input {
    border-radius: 6px;
    margin-top: 0;
  }
  
  textarea {
    border-radius: 6px;
    width: 100%;
    height: 120px;
    border: 3px solid #cccccc;
    margin: 2px 2px 0 2px;
    padding: 2px 2px 0 2px;
    font-family: Tahoma, sans-serif;
  }
  
  #message {
    padding: 2%;
    text-align: center;
    font-weight: 700;
    font-size: 1.2vw;
    color: #FFC300;
    width: 100%;
  }

  #show-data {
    background-color:#bbb;
    font-size: 0.6vw;
    min-height: 650px;
    min-width: 450px;
    padding: 2%;
  }
  
  /* animate color when messaging user */
  .flash {
    -moz-animation: flash 1s ease-out;
    -moz-animation-iteration-count: 1;
  
    -webkit-animation: flash 1s ease-out;
    -webkit-animation-iteration-count: 1;
  
    -ms-animation: flash 1s ease-out;
    -ms-animation-iteration-count: 1;
  }
  
  @keyframes flash {
      0% { background-color: transparent; }
      50% { background-color: #fbf8b2; }
      100% { background-color: transparent; }
  }
  
  @-webkit-keyframes flash {
      0% { background-color: transparent; }
      50% { background-color: #fbf8b2; }
      100% { background-color: transparent; }
  }
  
  @-moz-keyframes flash {
      0% { background-color: transparent; }
      50% { background-color: #fbf8b2; }
      100% { background-color: transparent; }
  }
  
  @-ms-keyframes flash {
      0% { background-color: transparent; }
      50% { background-color: #fbf8b2; }
      100% { background-color: transparent; }
  }
  // Tables for showing All Doctors & All Sessions
  // work in progress:
   // make table responsive (option 1: display: block;option 2: wrap table in <div style="overflow-x:auto;">
   table {
    border-collapse: collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1vw;
    width: 100%;
  }
  
  th, td {
    border-bottom: 0.5px solid black;
    font-size: 1vw;
    padding: 8px;
    text-align: left;
    width: 250px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }


  // @media (min-width: 320px) {

  @media screen and (max-width: 992px) {
    body {
      font-size: 16px; } }