@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal; }

    body {
      height: 100vh;
    }
    
    body {
      /* background-image: url('/assets/images/notebook.png');
      background-repeat: repeat-y; */
      min-height: 100vh;
      font-family: "Quicksand", Arial, sans-serif;
      font-weight: 400;
      font-size: 15px;
      line-height: 1.8;
      background-color:rgba(187, 187, 187, 0.4);
      color: rgba(0, 0, 0, 1); 
    }
      @media screen and (max-width: 992px) {
        body {
          font-size: 16px; } }
    
    h1, h2, h3, h4, h5, h6 {
      color: rgb(255, 195, 0);
      font-family: "Quicksand", Arial, sans-serif;
      font-weight: 400;
      margin: 0 0 30px 0; 
    }
    
    * {
      box-sizing: border-box;
    }
  
    // assume wrapper contains site to a width of 960px
    // assume a maximized browser window on screen 1920 pixels wide
    // 960/1920=50%
  .wrapper {
    flex-direction: column;
    display: ms-flex;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 50%;
    margin: 0 auto;
    padding: 1%;
    background-color: rgba(255, 195, 0, 0.3);
  }

  .sidebar {
    align-items: stretch;
    background: #2C2C2C;
    border-radius: 4px;
    padding-top: 2%;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-right: 20px;
    flex-grow: 3;
    width: 31.25%;
  }

  .content {
    align-items: stretch;
    background-color:#bbb;
    border-radius: 4px;
    flex-grow: 9;
    padding-left: 2em;
    padding-right: 1.5em;
    margin-right: 20px;
    overflow: auto;
    width: 66.66667%;
  }

  // Inside the left sidebar
  #letterhead{
    text-align: right;
    font-weight: 700;
    font-size: 1.3vw;
    color: rgb(255, 195, 0);
    text-transform: uppercase;
    margin-bottom: 3em;
    margin-top: 8%;
    display: block;
    // width: 100%; 
    padding: 2%
  }

  .initial {
    font-size: 1.8vw;
  }

  .intro {
    text-align: right;
    font-weight: 600;
    font-size: 0.8vw;
    color: rgba(255, 210, 10, 0.5);
    text-transform: uppercase;
    margin-bottom: 3em;
    display: block;
    // width: 100%; 
  }

  .sidebar > .sidebar-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 1vw;
    text-align: center;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.3);
    padding: 0 10px;
    // width: 70%; 
  }

  #copyright {
    padding: 0 10px;
  }

  #tiny {
    font-weight: 600;
    font-size: 0.7vw;
    color: rgba(255, 210, 10, 0.5);
  }
  
  table {
    border-collapse: collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1vw;
    width: 100%;
  }
  
  th, td {
    border-bottom: 0.5px solid black;
    font-size: 1vw;
    padding: 8px;
    text-align: left;
    width: 250px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  button {
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1vw;
    text-align: center;
    font-family: inherit;
    background-color:  rgb(248, 207, 70);
    border: 0;
    margin: 1%;
    padding: 2px 2px;
    width: 68%;
  }

  a {
    color: rgb(255, 195, 0);
    font-size: 1vw;
    font-family: inherit;
  }

  .panel-heading-color {
    color: rgba(43, 35, 2, 0.5);
    font-size: 2vw;
    font-family: inherit;
  }

  #panel-heading-change-password {
    color: rgba(255, 210, 10, 0.5);
  }
  
  .create-update-see-delete {
    margin-top: 8%;
  }
  
  input[type=text], input[type=password], input[type=email]{
    border: 1px solid #FFC300;
    border-radius: 6px;
    font-size: 1vw;
    margin: 1px;
    padding: 3px;
    text-align: left;
    width: 70%
  }
  
  #password-input {
    font-size: 0.5vw;
    margin: 10px 0 1px 0;
    text-align: center;
    width: 120%;
  }

  #see-all-doctors-form > button {
    background-color:  rgb(248, 230, 170);
    color: rgba(43, 35, 2, 0.5);
    font-size: 1vw;
    margin: 0.5px 0.5px 1px 1px;
    padding: 1px 1px 2px 1px;
    width: 100%;
  }

  #see-all-sessions-form > button {
    background-color:  rgb(248, 230, 170);
    color: rgba(43, 35, 2, 0.5);
    font-size: 1vw;
    margin: 0.5px 0.5px 100px 1px;
    padding: 1px;
    width: 100%;
  }

  #change-password-form > button {
    background-color:  rgb(248, 230, 170);
    color: rgba(43, 35, 2, 0.5);
    font-size: 1vw;
    margin: 0.5px 0.5px 1px 1px;
    padding: 1px 1px 2px 1px;
    width: 100%;
  }

  #sign-out-form > button {
    background-color:  rgb(248, 230, 170);
    color: rgba(43, 35, 2, 0.5);
    font-size: 1vw;
    margin: 0.5px 0.5px 1px 1px;
    padding: 1px 1px 2px 1px;
    width: 100%;
  }
  
  #create-one-session-form > input {
    border-radius: 6px;
    margin-top: 0;
  }
  
  textarea {
    border-radius: 6px;
    width: 100%;
    height: 120px;
    border: 3px solid #cccccc;
    margin: 2px 2px 0 2px;
    padding: 2px 2px 0 2px;
    font-family: Tahoma, sans-serif;
  }
  
  #message {
    padding: 2%;
    text-align: center;
    font-weight: 700;
    font-size: 1.2vw;
    color: #FFC300;
    width: 100%;
  }

  #show-data {
    background-color:#bbb;
    font-size: 0.6vw;
    min-height: 650px;
    min-width: 450px;
    padding: 2%;
  }
  
  /* animate color when messaging user */
  .flash {
    -moz-animation: flash 1s ease-out;
    -moz-animation-iteration-count: 1;
  
    -webkit-animation: flash 1s ease-out;
    -webkit-animation-iteration-count: 1;
  
    -ms-animation: flash 1s ease-out;
    -ms-animation-iteration-count: 1;
  }
  
  @keyframes flash {
      0% { background-color: transparent; }
      50% { background-color: #fbf8b2; }
      100% { background-color: transparent; }
  }
  
  @-webkit-keyframes flash {
      0% { background-color: transparent; }
      50% { background-color: #fbf8b2; }
      100% { background-color: transparent; }
  }
  
  @-moz-keyframes flash {
      0% { background-color: transparent; }
      50% { background-color: #fbf8b2; }
      100% { background-color: transparent; }
  }
  
  @-ms-keyframes flash {
      0% { background-color: transparent; }
      50% { background-color: #fbf8b2; }
      100% { background-color: transparent; }
  }
  
  // work in progress:
   // make table responsive (option 1: display: block;option 2: wrap table in <div style="overflow-x:auto;">
  